

  /* stylist girls webpage */


/* mobile view below */




  body {
    color: #40514E;
    margin: 0;
  
    text-align: center;
    font-family: 'Merriweather', serif;
  }
  
  /* NAV BAR AREA */
  
  
  .logo {
  
    margin-left: auto;
    margin-right: auto;
  
  }
  
  nav{
    width:100%;
    height: 100%;
    background-color: black;
  }
  
  
  /* TOP CONTAINER AREA */
  
  


  .top-picMain {
  
    height: 70%;
    width: 70%;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }


  .bangslady1 {
  
    height: 50%;
    width: 50%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
    justify-content: center;



}




  
  
  .top-container {
    background-color: #E4F9F4;
    position: relative;
    padding-top: 100px;
    margin: 10px;
  }
  

  
  .twentydiscount {

    float: left;
    align-items: center;




  }
  
  /* HELLO, I'M BILLY AREA */
  
  
  
  h1{
  font-size: 150px;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: rgb(206, 33, 222);
  }
  
  /* A PROGRAMMER WITH COOL INTEREST AREA AREA */
  
  
  h2{
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: bold;
  padding-bottom: 10px;
  }
  
  .pro{
    color:#F63D3D;
  
  }
  
  p{
  
    line-height: 1.5;
  }
  
  /* MIDDLE CONTAINER AREA */
  

  
  /* EXPERIENCED PRINT AND DIGITAL DESIGNER - FOR HIRE -- AND I LOVE MOVIES... AREAS */
  

  .modelblock {

    height: 100%;
    width: 100%;
    background-color: white;
  }
  
  
  /* BILLY D PICTURE */
  
  
  .BillyD-img {
  width: 50%;
  
  }
  
  /* LET'S CLIMB THIS MOUNTAIN TOGETHER AREA */
  
  
  .climb {
  font-size: 80px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  
  }
  
  /* EXPERIENCED PRINT AND DIGITAL DESIGNER... AREA */
  
  .intro {
  font-size: 50px;
  
  }
  
  /* MY FAVORITE TEAMS CONTAINER AREA */
  
  .my-favorite-teams-header{
    background-color: pink;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  /* MY FAVORITE TEAMS HEADER */
  
  .Headerteams {
    font-size: 120px;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: black;
  
  
  }
  
  /* STEELERS CONTAINER AREA */
  
  
  .favorite-steelers{
  
      background-color: yellow;
      position: relative;
      padding-top: 50px;
      padding-bottom: 75px;
      padding-left: 50px;
      padding-right: 50px;
  }
  
  /* PITTSBURGH STEELERS HEADER AREA */
  
  
  h5 {
  font-size: 100px;
  font-family: 'Allerta Stencil', sans-serif;
  color: black;
  
  }



 
  
  
  /* I HAVE BEEN A STEELERS FAN... AREA */
  
  
  .text-discription {
    font-size: 45px;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .text-discriptionRed {
    font-size: 44px;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    color:red;
  }
  
  /* TERRY BRADSHAW PICTURE */
  
  
  .terryb-img {
    position: relative;
    padding-top: 100px;
    width:75%;
  
  }

  .intromyself {
    position: relative;
    padding-top: 100px;
    width:100%;
  
  }
  
  /* YANKEES CONTAINER AREA */
  
  
  .favorite-yanks{
  
      background-color: grey;
      position: relative;
      padding-top: 50px;
      padding-bottom: 75px;
      padding-left: 50px;
      padding-right: 50px;
  }
  
  /* NEW YORK YANKEES HEADER AREA */
  
  h6 {
  font-size: 100px;
  font-family: 'Allerta Stencil', sans-serif;
  color: white;
  
  }
  
  
  /* THE YANKEES HAVE WON... AREA */
  
  

  
  
  /* YANKEES NY LOGO AREA */
  
  
  .yankeeslogos-img {
  
    width: 80%;
    margin: 100px;
  
  }
  
  
  
  /* HORIZONTAL RULE AREA (2 TIMES ON THIS PAGE) */
  
  
  hr {
  
    border: dotted black 6px;
    border-bottom: none;
    width: 24%;
    margin: 100px auto;
  
  }
  
  
  /* IF YOU LOVE SPORTS AS MUCH AS I DO AREA */
  
  
  h3 {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  }
  
  /* LET'S GRAB A BEER.... AREA */
  
  
  .contact-message {
    font-size: 45px;
    position: relative;
    padding-top: 50px;
    padding-bottom: 75px;
    padding-left: 50px;
    padding-right: 50px;
  }
  

  .stepsshopping{

    font-size: 35px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: yellow;
    color:black;
    text-align: left;
  }
  
  .stepsOne{
  
    color:black;
    font-size: 40px;
  
  }
  
  
  .honor2{

    font-size: 55px;
    color:red;
    padding-top: 5px;
    padding-bottom: 30px;
  }
  /* BOTTOM CONTAINER AREA */
  
  
  .bottom-container {
    background-color: black;
    padding: 50px 0 20px;
    margin: 10px;
  
  }
  
  a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  
  
  
  .copyright {
  
    font-size: 33px;
    color:white;
  }
  
  /* CONTACT ME BUTTON AREA */
  
  
  .btn {
    background: #F63D3D;
    background-image: -webkit-linear-gradient(top, #F63D3D, #811616);
    background-image: -moz-linear-gradient(top, #F63D3D, #811616);
    background-image: -ms-linear-gradient(top, #F63D3D, #811616);
    background-image: -o-linear-gradient(top, #F63D3D, #811616);
    background-image: -webkit-gradient(to bottom, #F63D3D, #811616);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 13px;
    line-height: 10px;
    color: #FFFFFF;
    font-family: Arial;
    width: 249px;
    font-size: 40px;
    font-weight: 900;
    padding: 18px;
    -webkit-box-shadow: 1px 1px 6px 0 #000000;
    -moz-box-shadow: 1px 1px 6px 0 #000000;
    box-shadow: 1px 1px 6px 0 #000000;
    text-shadow: 1px 1px 6px #000000;
    border: solid #762C2C 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
  
  }
  
  .btn:hover {
    border: solid #ED3333 1px;
    background: #811616;
    background-image: -webkit-linear-gradient(top, #811616, #F63D3D);
    background-image: -moz-linear-gradient(top, #811616, #F63D3D);
    background-image: -ms-linear-gradient(top, #811616, #F63D3D);
    background-image: -o-linear-gradient(top, #811616, #F63D3D);
    background-image: -webkit-gradient(to bottom, #811616, #F63D3D);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-decoration: none;
  }


  .managermeg-image {

    height: 60%;
    width: 60%;
  }










 
  





/* tablet view below */



